* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
header,
main {
  max-width: 1320px;
  margin: 0 auto;
}
h2 {
  font-family: "Merriweather", serif;
}

/* banner */
#banner {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Banner\ Image.png");
  border-radius: 16px;
  margin-bottom: 120px;
}
#banner .banner-content {
  text-align: center;
  color: #fff;
  padding: 177px 0;
  max-width: 632px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#banner .banner-content .banner-heading {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 16px;
}
#banner .banner-content .banner-sub-header {
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}
/* main */
section {
  margin-bottom: 120px;
}

/* off section */
#off-section {
  text-align: center;
}
#off-section .off-section-heading {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
}
#off-section .off-section-description {
  margin: 48px 0 16px 0;
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}
#off-section .off-section-sub-heading {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}
#off-section .off-section-img > img {
  width: 75%;
}

/* welcome-section */
#welcome-section {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Vectorrr.png");
  border-radius: 16px;
}
#welcome-section .welcome-section-content {
  margin-left: 125px;
  width: 697px;
  padding: 126px 0 142px 0;
}
#welcome-section .welcome-section-heading {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
}
#welcome-section .welcome-section-description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 25px 0 48px 0;
}
#welcome-section .welcome-section-join {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 20px;
}

/* place-section */
#place-section {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
}
#place-section .place-section-container {
  text-align: center;
  padding: 100px 0;
}
#place-section .place-section-destription {
  color: #070211;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}
#place-section .place-section-destription .place-section-destription-title {
  color: #f00;
}
#place-section .place-section-btn {
  border-radius: 8px;
  background: #f00;
  border: 0;
  padding: 16px 32px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 45px;
  transition: 0.4s;
}
#place-section .place-section-btn:hover {
  background: #000;
  color: #f00;
}
/* coming section */
.cooming-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#cooming-section .cooming-left-column {
  max-width: 393px;
}
#cooming-section .cooming-left-column .cooming-sub-heading {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}
#cooming-section .cooming-left-column .cooimg-heading {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  margin: 16px 0 22px 0;
}
#cooming-section .cooming-left-column .cooming-discriptions {
  color: #07021199;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
#cooming-section .coming-middle-image {
  border-radius: 50%;
  border: 15px solid #f00;
  padding: 49px;
}
#cooming-section .coming-middle-image > img {
  width: 100%;
}
#cooming-section .cooming-right-column {
  max-width: 276px;
}
#cooming-section .cooming-right-column .cooimg-right-heading {
  color: #f00;
  font-size: 48px;
  font-weight: 700;
}
#cooming-section .cooming-right-column .cooming-right-discriptions {
  color: #07021199;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin: 16px 0 43px 0;
}
#cooming-section .cooming-right-column > img {
  max-width: 140px;
  max-height: 140px;
}

/* holiday-section */
#holiday-section {
}
#holiday-section .holday-section-content {
  text-align: center;
}
#holiday-section .holiday-section-sub-heading {
  color: #070211;
  font-size: 24px;
  font-weight: 500;
}
#holiday-section .holiday-section-main-heading {
  color: #070211;
  font-size: 72px;
  font-weight: 900;
  margin: 16px 0 28px 0;
}
#holiday-section .holidays-discrption {
  color: #07021199;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}
#holiday-section .holiday-figure {
  margin-top: 65px;
  position: relative;
  height: 660px;
}
#holiday-section .holiday-figure #red-bottom{
  position: absolute;
  bottom: 0;
  max-width: 100%;
}
#holiday-section .holiday-figure #box{
  position: absolute;
  z-index: 1;
  left: 0;
  top: 10%;
  width: 50%;
}
#holiday-section .holiday-figure #women{
  position: absolute;
  right: 0;
  top: 0;
  max-width: 50%;
}
#holiday-section .holiday-figure #discount{
  position: absolute;
  right: 20%;
  top: 10%;
  max-width: 50%;
}





