* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
header,
main {
  max-width: 1320px;
  margin: 0 auto;
}
h2 {
  font-family: "Merriweather", serif;
}

/* banner */
#banner {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Banner\ Image.png");
  border-radius: 16px;
  margin-bottom: 120px;
}
#banner .banner-content {
  text-align: center;
  color: #fff;
  padding: 177px 0;
  max-width: 632px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#banner .banner-content .banner-heading {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 16px;
}
#banner .banner-content .banner-sub-header {
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}
/* main */
section {
  margin-bottom: 120px;
}

/* off section */
#off-section {
  text-align: center;
}
#off-section .off-section-heading {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
}
#off-section .off-section-description {
  margin: 48px 0 16px 0;
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}
#off-section .off-section-sub-heading {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}
#off-section .off-section-img > img {
  width: 75%;
}

/* welcome-section */
#welcome-section{
    background: url('');
}
